html, body {
    margin: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    max-width: 100%;
    color: #2C2C2C;
}

@media only screen and (min-width: 700px) {
    html, body {
        width: 700px;
        margin: 0 auto;
    }
}